.wrapper {
  width: 100%;
  height: 100%;
}

.itemsList {
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin: 1em 2em;
}
@media (min-width: 800px) {
  .itemsList {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
  }
}
.noItems {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tumbleweedImage {
  width: 25em;
  margin-bottom: 1em;
}
.mainMessage {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;

  color: var(--off-black);
}
.secondaryMessage {
  font-size: 1.5rem;
  text-align: center;

  margin-top: 1em;
  color: var(--off-black);
}
.fab {
  position: fixed;
  bottom: 2em;
  right: 2em;
}
