@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #288308;
  --off-white: #fefefe;
  --off-black: #3c3c3c;
  --red: #830808;
  --blue: #086583;

  --common-border-radius: 2em;
}
